/* Universal selector */
*{
    margin: 0;
    padding: 0;
    text-align: center;
}
/* Heading (h1) */
h1{
    background-color:#081b31;
    color: #fff;
    height: 5rem;
    line-height: 5rem;
    
}
/* Choice Buttons (.choice) */
.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Hover Effect on Choice Buttons (.choice:hover) */
.choice:hover{
   
    cursor: pointer;
    background-color:#081b31 ;
}
/* Image */
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
/* Choices Container (.choices) */
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

/* scoreboard */
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
       gap: 5rem;
}
/* Score Numbers (#user-score, #comp-score) */
#user-score,#comp-score{
       font-size: 4rem;
       
}
/* Message Container (.msg-container) */
.msg-container{
    margin-top: 5rem;
}
/* Message Box (#msg) */
#msg{
   
    background-color: #081b31;
    color: #fff;
    height: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}